<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="computerRepairing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <computerRepairing.Properties.Settings>
            <setting name="headFont" serializeAs="String">
                <value>Microsoft YaHei UI, 15.75pt</value>
            </setting>
            <setting name="contentFont" serializeAs="String">
                <value>Microsoft YaHei UI, 14.25pt</value>
            </setting>
            <setting name="connectionString" serializeAs="String">
                <value>Data Source=HZ-ПК\;Initial Catalog=Iluha;Integrated Security=True</value>
            </setting>
            <setting name="roleUser" serializeAs="String">
                <value />
            </setting>
            <setting name="idUser" serializeAs="String">
                <value>0</value>
            </setting>
        </computerRepairing.Properties.Settings>
    </userSettings>
</configuration>